@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove spinners from savings goal input */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button {
  display: none;
}

.no-spinner::-webkit-inner-spin-button {
  display: none;
}