# Node.js
node_modules/
dist/
logs/
uploads/

# Prisma (if you generate locally)
generated/
prisma/generated/

# Environment Variables
.env

# Build Artifacts
*.tsbuildinfo

# Logs & temp files
*.log

# macOS / IDE / System files
.DS_Store

*.sqlite
*.dump
